/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a05200;
  --ifm-color-primary-dark: #904a00;
  --ifm-color-primary-darker: #884600;
  --ifm-color-primary-darkest: #703900;
  --ifm-color-primary-light: #b05a00;
  --ifm-color-primary-lighter: #b85e00;
  --ifm-color-primary-lightest: #d06b00;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #f39e2f;
  --ifm-color-primary-dark: #f19114;
  --ifm-color-primary-darker: #e98a0d;
  --ifm-color-primary-darkest: #c0710b;
  --ifm-color-primary-light: #f5ab4a;
  --ifm-color-primary-lighter: #f5b158;
  --ifm-color-primary-lightest: #f8c481;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
